Service Java DAD/GenBusiness/src/conf/wsdl/localhost_4167/ServiceCom.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:4167/ServiceCom.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:element name="GetData"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="DocName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="DocContent" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="DocKey" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="DocMail" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="DocTaux" type="xs:double"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="isDecrypt"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="isDecryptResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="isDecryptResult" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></xs:sequence></xs:complexType></xs:element><xs:element name="Reset"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="ResetResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element></xs:schema>